**/bin/**/*
**/obj/**/*
**/packages/**/*
.idea/**
.vscode/**
*.suo
*.user
**/*.crt

# Onboard excludes

# Server excludes
LteCar.Server/CarConfigStore/**/*
LteCar.Server/bash/dotnet-install.sh
LteCar.Server/janus/janus-gateway/**/*